
<form>
  <h1>User name:</h1>
    <input type="text" name="username" [(ngModel)]="user" >
    <p><button class="button_green" (click)="getUser(user)" >Submit</button></p>
</form>


<div>

  <ul>
    <li *ngFor=" let item of dataGist " (click)="onSelect(item)">{{i}} File name:{{item.gistName}}</li>
  </ul>

</div>

<div *ngIf="selectedGist" >
  <p>
    <a href="{{selectedGist.rawUrl}}">
      <button class="button_green">Open file</button>
    </a>
  </p>
  <br>
  <hr>
  <ul>
    <li *ngFor=" let comment of selectedGist.comments">{{comment}}</li>
  </ul>
  <hr>

</div>







